<h3>
    Регистрация
</h3>
<form class="row g-2">
    <div class="col-md-12">
        <label for="emailField" class="form-label">Email</label>
        <input type="email" name="email" class="form-control" id="emailField">
    </div>
    <div class="col-md-12">
        <label class="form-label" for="passwordField">Password</label>
        <input type="password" class="form-control" id="passwordField">
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Запомнить меня
            </label>
        </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </div>
</form>